body{
    background-image: radial-gradient(circle, rgb(231, 80, 80),rgb(112, 255, 112),rgb(64, 64, 255),rgb(245, 245, 112),rgb(110, 255, 255));
}
.container{
    width: 20rem;
    margin-top: 2rem;
    background-image: radial-gradient(circle, rgb(255, 42, 42),rgb(95, 255, 55),rgb(248, 248, 26),rgb(255, 24, 243));
    border-radius: 0.7rem;
    box-shadow: 0.4rem 0.4rem 1.3rem rgb(17, 15, 15);
}
#weatherwidget{
    min-height: 18rem;
    background-color: #fff;
    border-radius: 0.3rem;
}
.card{
    width:100%
}
.card .card-subtitle{
    font-size: 4rem;
}
.card .cel::after{
   content: "°C";
    position: absolute;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-weight: 400;
} 
.card .far::after{
    content: "°F";
     position: absolute;
     font-size: 2.5rem;
     margin-top: 0.3rem;
     font-weight: 400;
}
.units a{
    color:rgb(31, 9, 9);
    text-decoration: none;
} 
.units a.active{
    color:red;
    font-size: 3rem;
    font-weight: 900;
    background-color: rgb(189, 165, 32);
    padding: 0.6rem 1rem;
    border-radius: 69%;
}
