body{
    font-size: 40px;
}
.merriweather{
    font-family: 'Merriweather Sans', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.sacramento{
    font-family: 'Sacramento', cursive;
}